.fondo{
    padding: 1em;
    background-image: url(Imagen/fondo.jpeg);
    margin-right: 8em;
    margin-left: 8em;
  }
  .subfondo{
    background-image: url(Imagen/subfondo.jpg);
    padding-block-end: -3em;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    }
  #cabecera, #logo {
    float: left;
    width: 10em;
  }
  
  #imagenlogo {
    width: 2em;
    height: 2em;
  }
  
  #cabecera, #suscripcion{
    float: right;
  padding-top: 2em;
  margin-top: 2em;
  margin-right: 2em;}
  
  #cabecera, #menu{ 
    border: 4px;
    width: 100%;
    margin: 1px 80px;
    max-width: 1000px;
    min-width: 20px 500px;
    background-color: #f2aa1f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
  }
  
  #menu {
    width: 100%;
    max-width: 20px 1040px;
    min-width: 20px 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  #menu_principal {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 55px;
    font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    font-size: 2em;
  }


/**************FORMULARIO****************/

/*Formulario*/
:focus{
    outline: none;
  }
  .form_wrap{
    width: 700px;
    height: 530px;
    margin: 50px auto;
    display: flex;
  
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(196, 13, 13, 0.2);
  }
  
  /*Formulario-Informacion de Contacto*/
  .cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  
    background: rgb(201, 207, 109);
    opacity: 0.9;
  }
  .cantact_info{
    width: 38%;
    position: relative;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center center ;
  }
  .cantact_info h2{
      color: rgb(177, 166, 20);
  }
  .info_title,
  .info_items{
    position: relative;
    z-index: 2;
    color: rgb(12, 15, 17);
  }
  
  .info_title{
    margin-bottom: 60px;
  }
  
  .info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .info_title h2{
    font-size: 35px;
    text-align: center;
  }
  
  .info_items p{
    display: flex;
    align-items: center;
  
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
  }
  
  .info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
  }
  
  /*Formulario-Formulario de contacto*/
  form.form_contact{
    width: 62%;
    padding: 30px 40px;
  }
  form.form_contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #050504;
    margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
    display: flex;
    flex-direction: column;
  }
  
  form.form_contact label{
    font-weight: 600;
  }
  
  form.form_contact input,
  form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
  
    border:none;
    border-bottom: 2px solid #D1D1D1;
  
    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
  }
  
  form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
  }
  
  form.form_contact input[type="button"]{
    width: 180px;
    background: #070706;
    padding: 10px;
    border:none;
    border-radius: 25px;
  
    align-self: flex-end;
  
    color: azure;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  form.form_contact input[type="button"]:hover{
    background: #16182c;
  }
  
  /*Formulario--Ventana de errores*/
  .modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mensaje_modal{
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
  }
  
  .mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
  }
  
  .mensaje_modal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
  }
  
  .mensaje_modal p{
    font-size: 16px;
    color: #606060;
  }
  
  .mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
  }
  
  #btnClose{
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;
  
    background: #E25151;
    color: #ffffff;
    border: 2px solid #B14141;
    cursor: pointer;
  
    float: right;
  }
  

/****************RESPONSIVE***********************/

@media only screen and (max-width: 767px) {
    .contenido-hero .boton-contacto {
        width: 90%;
    }
    .servicios {
        display: inherit;
    }
    .contenedor-campos {
        display: flex;
        flex-direction: column;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1/3;
    }
}
/**FOOTER**/

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap; 
    padding: 50px;
    color: white;
    background:whitesmoke;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em; 
}
.footer-left img{
    width: 50%;
}
h2{
    font-weight: 600;
    font-size: 17px; 
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color:rgb(10, 7, 7);
    font-family:Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-bottom{
    text-align: center;
    padding-top: 50px;
}
.footer-left p{
    padding-right: 20%;
    color: rgb(32, 17, 112);
}
.socials a{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media (max-widht: 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}
/**FOOTER**/
/****************RESPONSIVE***********************/


/*Estilos de la cabecera, fondos y footer*/
.fondo{
    padding: 1em;
    background-image: url(Imagen/fondo.jpeg);
    margin-right: 8em;
    margin-left: 8em;
  }
  .subfondo{
    background-image: url(Imagen/subfondo.jpg);
    padding-block-end: -3em;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    }
  #cabecera, #logo {
    float: left;
    width: 10em;
  }
  
  #imagenlogo {
    width: 2em;
    height: 2em;
  }
  
  #cabecera, #suscripcion{
    float: right;
  padding-top: 2em;
  margin-top: 2em;
  margin-right: 2em;}
  
  #cabecera, #menu{ 
    border: 4px ;
    background-color: #f2aa1f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:0;
  }
  
  #menu {
    width: 100%;
    margin-top: 5px;
  }
  #menu_principal {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 55px;
    font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    font-size: 2em;
  }
  .root{
    margin-top: 3em;
    border: 4px ;
    background-color: #f2aa1f;
    width: 100%;
    color:black;
    font-family: Indie Flower,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1em;
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding:0;
}

.end{
     float: right;
     color:white
}
  