.fondo{
  padding: 1em;
  background-image: url(Imagen/fondo.jpeg);
  margin-right: 8em;
  margin-left: 8em;
  flex: 2;
}
.subfondo{
  background-image: url(Imagen/subfondo.jpg);
  padding-block-end: -3em;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 2;
  }
#cabecera, #logo {
  float: left;
  width: 10em;
  flex: 2;
}

#imagenlogo {
  width: 2em;
  height: 2em;
  flex: 2;
}

#cabecera, #suscripcion{
  float: right;
padding-top: 2em;
margin-top: 2em;
margin-right: 2em;
flex: 2;
}

#cabecera, #menu{ 
  border: 4px ;
  background-color: #f2aa1f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding:0;
  flex: 2;
}

#menu {
  width: 100%;
  margin-top: 5px;
  flex: 2;
}
#menu_principal {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 55px;
  font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  font-size: 2em;
  flex: 2;
}

h1, h2 {
  font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: #4682b4;
}

h1 {
  text-decoration: underline;
}
h2{padding-left: 3em;}
p{      font-family: Indie Flower,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;}
.articulo {
  display: flex;
  border: solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;
  color: whitesmoke;
  background-image: url(https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg);
  background-size: 1600px;
  ;
  margin-right: 6em;
  margin-left: 6em;
  margin-block-end: 30px;
  flex: 2;
}

.figure {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
  flex: 2;
}

.destacado, #h1 {
  text-align: center;
  flex: 2;
}

.derecha {
  float: right;
  flex: 2;
}

.izquierda {
  float: left;
  flex: 2;
}

.root{
  margin-top: 3em;
  border: 4px ;
  background-color: #f2aa1f;
  width: 100%;
  color:black;
  font-family: Indie Flower,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:1em;
    border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding:0;
  flex: 2;
}
.end{
  float: right;
     color:white
    }
.social{
padding: 20px;
flex: 2;
}
.texto{
  margin-left: 4em;
  margin-right: 12em;
  
  flex: 2;
}
.carousel {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex: 2;
}
#imagen {
  
  width: 100%;
  height: 400px;
  background-size: cover;
  flex: 2;
}
/**FOOTER**/

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap; 
  padding: 50px;
  color: white;
}
.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em; 
}
.footer-left img{
  width: 50%;
}
h2{
  font-weight: 600;
  font-size: 17px; 
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  color:rgb(10, 7, 7);
  font-family:Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-bottom{
  text-align: center;
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: rgb(32, 17, 112);
}
.socials a{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i{
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px){
  .footer-right > *{
      flex: 1;
  }
  .footer-left{
      flex: 1 0px;
  }
  .footer-right{
      flex: 2 0px;
  }
}

@media (max-widht: 600px){
  .footer{
      padding: 15px;
  }
  main{
      font-size: 55px;
  }
}


